html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.9;
}

/* Header and items within the header */
header {
    display: flex;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
    height: 69px;
}

header img {
    height: 50px;
    padding: 10px;

}

nav {
    display: flex;
    text-decoration: underline;
    width: 400px;
    justify-content: space-between;
    padding: 5px;
}

h4 {
    margin-top: 10px;
}

/* Content of the screen */

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* Mission */

.mission-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mission {
    background-image: url(../img-mission-background.jpg);
    height:700px;
    width: 1200px;
    text-align: center;
}

.mission-text {
    background-color: black;
    position: relative;
    top: 45%;

}
/* Teas of the month */
.teaofthemonth-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teaofthemonth-block img {
    height: 200px;
    width: 300px;
}

.teaofthemonth {
    display: flex;
    flex-direction: column;
    width: 1000px;
    justify-content: center;
}
.teas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
 
}

/* Locations */
.locations-block {
    background-image: url("../img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    justify-content: center;
}

.all-locations {
    display: flex;
    justify-content: space-around;
}

.location {
    width: 300px;
    opacity: 1;
    background-color: black;
}

.contact {
    height: 200px;
}
footer p {
    text-align: left;
    padding-left: 20px;
}

/* debugging
div {
    border: 1px solid red;
}

footer {
    border: 1px solid green;
}

*/
